<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Resultados de la Busqueda</h1>

    {% if articulo.error %}
    <p style="color:red"> Error en los datos ingresados en el formulario </p>

    {% endif %}
    {% if error %}
        <p style="color:red"> {{ error }} </p>

    {% endif %}

    <form action="{% url 'buscar' %" method="GET">
        <input type="text" name="nombre_art" id="nombre_art">

        <input type="submit" vlue="Enviar">


    </form>
      

</body>
</html>

